@font-face {
  font-family: "SuperKindly";
  src: url("/fonts/SuperKindly-drE8E.ttf") format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "SuperKindly", sans-serif;
}

body {
  background-color: #222222;
  color: white;
  min-width: 300px;
}

.main-title {
  font-size: 4rem;
  background-color: black;
  border: 2px solid #252525;
  padding: 0.5rem 0;
  border-radius: 1rem;
  width: 300px;
  margin: 1rem auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
}

.done-todo {
  text-decoration: line-through;
}

.input-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-form input,
.input-form button {
  height: 30px;
}

input,
button {
  font-family: inherit;
}

input {
  background-color: black;
  color: white;
  margin: 1rem 0;
  width: 350px;
  min-width: 250px;
  max-width: 80%;
}

button {
  background-color: #121212;
  color: white;
  border-style: outset;
}
button:active {
  background-color: #303030;
  border-style: inset;
}
