@font-face {
  font-family: "SuperKindly";
  src: url("/public/fonts/SuperKindly-drE8E.ttf") format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "SuperKindly", sans-serif;
}

body {
  background-color: #222222;
  color: white;
}

.main-title {
  font-size: 4rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
}

.done-todo {
  text-decoration: line-through;
}

input,
button {
  padding: 0.2rem;
  font-family: inherit;
}

input {
  background-color: black;
  color: white;
  margin: 1rem 0;
}

button {
  background-color: #121212;
  color: white;
  border-style: outset;
}
button:active {
  background-color: #303030;
  border-style: inset;
}
